openapi: 3.0.0
info:
  title: SAKPaaS API
  description: SAKPaaS API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: https://api.happyhamster.org/v1
    description: Production
paths:
  /locations:
    get:
      tags:
        - Locations
      description: |
        Searches for locations in the given range.
      operationId: searchLocations
      parameters:
        - name: Coordinates
          in: query
          description: Latitude
          required: true
          style: form
          explode: true
          schema:
            $ref: "#/components/schemas/Coordinates"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                maxItems: 100
                type: array
                items:
                  $ref: "#/components/schemas/Location"
  /locations/{id}:
    get:
      tags:
        - Locations
      description: |
        Get details for a specific location.
      parameters:
        - name: id
          in: path
          description: id
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/LocationId"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "404":
          description: Not found
  /locations/{id}/occupancy:
    post:
      tags:
        - Occupancy
      description: |
        Add or remove current capacity.
      parameters:
        - name: id
          in: path
          description: id of the place
          required: true
          style: simple
          explode: false
          schema:
            $ref: "#/components/schemas/LocationId"
      requestBody:
        description: The estimated occupancy by the buyer
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OccupancyReport"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
        "400":
          description: Malformed request
components:
  schemas:
    Location:
      title: Location
      required:
        - address
        - coordinates
        - id
        - name
        - occupancy
      type: object
      properties:
        id:
          $ref: "#/components/schemas/LocationId"
        name:
          type: string
          example: LIDL Mannheim Marktplatz
        details:
          $ref: "#/components/schemas/LocationDetails"
        coordinates:
          $ref: "#/components/schemas/Coordinates"
        occupancy:
          $ref: "#/components/schemas/Occupancy"
        address:
          $ref: "#/components/schemas/Address"
      description: A physical location which represents a supermarket or similar
      nullable: false
    LocationId:
      title: Location ID
      type: integer
      description: Location unique identifier
      format: int64
      nullable: false
      example: 73621836
    LocationDetails:
      title: Location details
      type: object
      properties:
        type:
          title: Type
          type: string
          description: Type of the shop
          nullable: true
          enum:
            - supermarket
            - chemist
        brand:
          title: Brand
          type: string
          description: Brand of the shop
          nullable: true
          example: LIDL
        openingHours:
          title: Opening hours
          type: string
          description: Opening hours of the shop
          nullable: true
          example: Mo-Fr 7-22 Uhr, Sa-So 9-12 Uhr
      description: Locaiton details
      nullable: false
    Address:
      title: Address
      required:
        - city
        - country
        - housenumber
        - postcode
        - street
      type: object
      properties:
        country:
          type: string
          nullable: true
          example: DE
        city:
          type: string
          nullable: true
          example: Mannheim
        postcode:
          type: string
          nullable: true
          example: "68161"
        street:
          type: string
          nullable: true
          example: Hauptstraße
        housenumber:
          type: string
          nullable: true
          example: 1-5
      description: Physical address
      nullable: false
    Coordinates:
      title: Coordinates
      required:
        - latitude
        - longitude
      type: object
      properties:
        latitude:
          title: Latitude
          type: number
          example: 49.4953494
        longitude:
          title: Longitude
          type: number
          example: 8.3563969
      nullable: false
    Occupancy:
      title: Occupancy
      required:
        - count
        - lastReport
        - value
      type: object
      properties:
        value:
          title: Value
          maximum: 1
          minimum: 0
          type: number
          description: Occupancy in percent.
          nullable: true
          example: 0.66
        count:
          title: Count
          minimum: 0
          type: integer
          description: Number of datapoints used for the value calculation.
          nullable: false
          example: 2
        latestReport:
          title: Latest Report
          type: string
          description:
            Time of the latest report that was considered to calculate
            occupancy
          format: date-time
          nullable: true
      nullable: false
    OccupancyReport:
      title: Occupancy Report
      required:
        - clientType
        - occupancy
      type: object
      properties:
        occupancy:
          title: Occupancy
          maximum: 1
          minimum: 0
          type: number
          description: Occupancy
          nullable: false
          example: 0.75
        clientType:
          title: Client Type
          type: string
          description: Type of the client which reported the occupancy
          nullable: false
          enum:
            - IOT
            - WEB_APP
      description: Occupancy report to send
      nullable: false
