button {
  margin: 3px;
  position: absolute;
  width: 27.5px;
  height: 27.5px;
  bottom: 40px;
  right: 70px;
  border: none;
  border-radius: 50%;
  background-color: white;
  color: #26c485;
  padding: 0;
  box-shadow: 0 5px 20px 0 rgba(11, 0, 51, 0.2);
  z-index: 1;
  ::ng-deep * {
    padding: 3.75px;
    font-size: 20px;
  }
  :hover {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  button {
    right: 20px;
    bottom: 70px;
    height: 69px;
    width: 69px;
  }
}
