<mat-nav-list *ngIf="location$ | async as location">
  <p class="mat-title">{{ location.name }}</p>
  <p class="mat-card-subtitle">{{ getAddressString(location) }}</p>
  <app-occupancy-view occupancy="{{ location.occupancy }}"></app-occupancy-view>
  <mat-divider></mat-divider>
  <mat-grid-list cols="2" rowHeight="5rem">
    <mat-grid-tile colspan="2">
      <button mat-raised-button class="submit" (click)="checkIn(location)" swIsLoading="'sendOccupancy'">
        <span *ngIf="!('checkIn' | swIsLoading | async)">Ich bin hier! </span>
        <span *ngIf="'checkIn' | swIsLoading | async">
          Du wirst eingecheckt ...
          <mat-icon style="margin-top: -7px; margin-left: 20px;">
            <mat-spinner diameter="30"></mat-spinner>
          </mat-icon>
        </span>
    </button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-nav-list>
