.submit {
  margin-top: auto;
  background-color: #26c485;
  width: 100%;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

::ng-deep app-occupancy-view {
  margin-bottom: 0.5rem;
}
