#user-card {
  @media screen and (max-width: 600px) {
    display: none;
  }
  position: absolute;
  top: 45px;
  right: 30px;
  border-radius: 10px;
  width: 12%;
  transition: all .2s linear;
  a {
    color: var(--greenblue);
    text-decoration: underline;
    cursor: pointer;
  }
  .settings-icon {
    display: none;
    float: right;
    padding-left: 10px;
    width: 34px;
  }
  .progress-bar-container{
    text-align: center;
    color: var(--greenblue);
    mat-progress-bar{
      border-radius: 3px;
    }
    .level-name{
      font-size: 12px;
    }
    .next-level{
      font-size: 9px;
    }
  }

  .expand-icon {
    margin-top: 100%;
    margin-bottom: 0;
  }

  .expand-icon:hover {
    cursor: pointer;
  }
}

.expand {
  float: left;
}

.content {
  float: right;
  width: 80%;
  transition: text-indent .2s linear;
}

.turned {
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.mat-card-title {
  font-size: 18px;
  font-weight: 400;
}
