<mat-card *ngIf="authService.getUser() | async as user; else login" id="user-card">
  <div class="expand">
    <mat-icon (click)="change()" class="expand-icon">keyboard_arrow_left</mat-icon>
  </div>
  <div class="content">
    <mat-card-title>
      <span *ngIf="expanded">{{ 'user-card.greeting' | translate }}</span> {{user.firstName}}
      <mat-icon fontSet="material-icons-outlined" class="settings-icon">settings</mat-icon>
    </mat-card-title>
    <mat-card-content>
      {{user.username}}<br>
      <a class="mat-primary" (click)="authService.logout()">{{ 'user-card.logout' | translate }}</a><br>
    </mat-card-content>
  </div>
</mat-card>
<ng-template #login>
  <mat-card id="user-card">
    <div class="expand">
      <mat-icon (click)="change()" class="expand-icon">keyboard_arrow_left</mat-icon>
    </div>
    <div class="content">
      <mat-card-title>
        <span *ngIf="expanded">{{ 'user-card.greeting' | translate }}</span> {{ 'user-card.guest' | translate }}
        <mat-icon fontSet="material-icons-outlined" class="settings-icon">settings</mat-icon>
      </mat-card-title>

      <a class="mat-primary" (click)="authService.login()">{{ 'user-card.login' | translate }}</a><br>
      <a class="mat-primary" (click)="authService.register()">{{ 'user-card.register' | translate }}</a>
    </div>
  </mat-card>
</ng-template>
