<mat-card *ngIf="authService.getUser() | async as user; else login" id="user-card">

  <mat-card-title>
    {{user.firstName}}
    <mat-icon fontSet="material-icons-outlined">
      settings
    </mat-icon>
  </mat-card-title>
  <mat-card-content>
    <div class="progress-bar-container">
      <div class="level-name">{{ 'user-card.level' | translate }} {{ currentLevel }}</div>
      <mat-progress-bar mode="determinate" value="{{ currentProgress }}"></mat-progress-bar>
      <div class="next-level">
        <span *ngIf="remainingReports === 1">
          {{ remainingReports }} {{ 'user-card.one-report-remaining' | translate }}
        </span>
        <span *ngIf="remainingReports !== 1">
          {{ remainingReports }} {{ 'user-card.multiple-reports-remaining' | translate}}
        </span>
      </div>
    </div>
    <div id="wrapper">
      <div id="first">
        <mat-icon fontSet="material-icons-outlined" style="display:initial; color: #9DA9A0; padding-left: 0px;">
          keyboard_arrow_left
        </mat-icon>
      </div>
      <div class="badge-container" id="second">
        
        <div class="badge">
          <img src={{badges[0].image}} alt={{badges[0].label}}>
          <br>
          {{badges[0].label}}
        </div>
        <div class="badge" matBadge="5">
            <img src={{badges[1].image}} alt={{badges[1].label}}>
          <br>
          {{badges[1].label}}
        </div>
        <div class="badge">
          <img src={{badges[2].image}} alt={{badges[2].label}}>
          <br>
          {{badges[2].label}}
        </div>
        <div class="badge">
          <img src={{badges[3].image}} alt={{badges[3].label}}>
          <br>
          {{badges[3].label}}
        </div>
        <div class="badge" style="margin-right: 0px">
          <img src={{badges[4].image}} alt={{badges[1].label}}>
          <br>
          {{badges[4].label}}
        </div>
        <br>
        <div class="badge">
          <img src={{badges[5].image}} alt={{badges[5].label}}>
          <br>
          {{badges[5].label}}
        </div>
        <div class="badge">
          <img src={{badges[6].image}} alt={{badges[6].label}}>
          <br>
          {{badges[6].label}}
        </div>
        <div class="badge">
          <img src={{badges[7].image}} alt={{badges[7].label}}>
          {{badges[7].label}}
          <br>
        </div>
        <div class="badge">
          <img src={{badges[8].image}} alt={{badges[8].label}}>
          {{badges[8].label}}
          <br>
        </div>
        <div class="badge" style="margin-right: 0px">
          <img src={{badges[9].image}} alt={{badges[9].label}}>
          {{badges[9].label}}
          <br>
        </div>
      </div>
      <div id="third">
        <mat-icon fontSet="material-icons-outlined" style="display:initial; color: #9DA9A0; padding-left: 0px;">
          keyboard_arrow_right
        </mat-icon>
      </div>
    </div>
    <br>
    {{user.username}}<br>
    
    <a class="mat-primary" (click)="authService.logout()">{{ 'user-card.logout' | translate }}</a><br>
  </mat-card-content>
</mat-card>
<ng-template #login>
  <mat-card id="user-card">
    <mat-card-title>
      {{ 'user-card.guest' | translate }}
      <mat-icon fontSet="material-icons-outlined">
        settings
      </mat-icon>
    </mat-card-title>

    <a class="mat-primary" (click)="authService.login()">{{ 'user-card.login' | translate }}</a><br>
    <a class="mat-primary" (click)="authService.register()">{{ 'user-card.register' | translate }}</a>
  </mat-card>
</ng-template>
