/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --greenblue: #26c485;
  --silver: #bad1cd;
  --greenish-grey: #9da9a0;
  --turquoise: #00b9ae;
  --grapefruit: #fe5f55;
  --midnight-blue: #0b0033;
}

.success-snack-bar {
  background-color:  var(--midnight-blue);
  color: #ffffff;
}

.success-snack-bar .mat-simple-snackbar-action {
  color: var(--grapefruit);
}
  
.error-snack-bar {
    background-color: var(--grapefruit);
    color: #ffffff;
}

.error-snack-bar .mat-simple-snackbar-action {
  color: var(--midnight-blue);
}

div.ol-zoom {
  top: 150px;
  left: 42px; // 42 WUP WUP!
  background-color: transparent;
}

div.ol-attribution a {
  color: var(--greenblue);
}

@media (max-width: 600px) {
  div.ol-zoom {
      top: 100px;
      left: 15px;
  }
}

button.ol-zoom-in, button.ol-zoom-out {   
  background-color: var(--greenblue);
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff;
  border-radius: 16px;
}