/* You can add global styles to this file, and also import other style files */

@import "./app/components/map/buttons.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --greenblue: #26c485;
  --silver: #bad1cd;
  --greenish-grey: #9da9a0;
  --turquoise: #00b9ae;
  --grapefruit: #fe5f55;
  --midnight-blue: #0b0033;
  --grey-blue: #96b7d4;
  --secondary-grey-blue: rgba(150, 183, 212, 0.2);

  --outer-border-radius: 14px;
}

.success-snack-bar {
  background-color: var(--greenblue);
  color: #ffffff;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.info-snack-bar {
  background-color: var(--greenish-grey);
  color: white;
  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snack-bar {
  background-color: var(--grapefruit);
  color: #ffffff;
  .mat-simple-snackbar-action {
    color: var(--midnight-blue);
  }
}

.mat-snack-bar-container {
  &.close-button-hidden span {
    width: 100%;
    text-align: center;
  }
  &.big .mat-simple-snackbar {
    font-size: 1.5rem;
    line-height: 110%;
  }
}

div.ol-overlaycontainer-stopevent {
  z-index: auto !important;
}

div.ol-zoom {
  top: auto;
  left: auto;
  bottom: 40px;
  right: 30px;
  background-color: transparent;
}

div.ol-attribution a {
  color: var(--greenblue);
}

div.ol-rotate {
  top: auto;
  left: auto;
  right: 30px;
  bottom: 140px;
  background-color: transparent;
  color: white;
  border-radius: 7px;
  z-index: 3;
}

div.ol-control:hover {
  background-color: transparent;
}

@media (max-width: 600px) {
  div.ol-zoom {
    display: none;
  }

  div.ol-rotate {
    bottom: 40px;
    right: 80px;
  }
}
