/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --greenblue: #26c485;
  --silver: #bad1cd;
  --greenish-grey: #9da9a0;
  --turquoise: #00b9ae;
  --grapefruit: #fe5f55;
  --midnight-blue: #0b0033;
}

.success-snack-bar {
  background-color: #26c485 !important;
  color: #ffffff;
  }
  
.error-snack-bar {
    background-color: #fe5f55;
    color: #ffffff;
}