<div class="container">
  <div class="button-row top-button">
    <button mat-raised-button class="back" routerLink="/home">
      {{ 'others.back-to-happy-hamster' | translate }}    
    </button>
  </div>

  <nav mat-tab-nav-bar>
    <a mat-tab-link
      *ngFor="let link of navLinks"
      [routerLink]="link.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
        {{ link.labelKey | translate }}
    </a>
  </nav>
  <router-outlet></router-outlet>

  <div class="button-row">
    <button mat-raised-button class="back" routerLink="/home">
      {{ 'others.back-to-happy-hamster' | translate }}    
    </button>
  </div>
</div>
