
.container {
    padding: 2rem;
}

.back {
    margin-top: auto;
    background-color: var(--greenblue);
    width: 100%;
    max-width: 300px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 16px;
  }

.top-button {
    margin-bottom: 2rem;
}