.location-panel {
  padding: 10px 10px 0 10px;
  max-width: 500px;
  width: 100%;
  background-color: white;
  height: auto;
  position: fixed;
  top: 45%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  overflow: hidden;
  border-radius: 35px 35px 0 0;
}

::-webkit-scrollbar {
  width: 0px;
}

.location-panel-inner {
  background-color: white;
  position: relative;
  left: 0;
  right: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.166667px;
  color: #96b7d4;
}

.blur {
  opacity: 0.2;
}

.sectionheading {
  margin-top: 5%;
}
