<div class="location-panel">
  <div class="location-panel-inner">
    <ng-container *ngIf="hideSearchResults; else showSearchResults">
      <ng-container *ngIf="mockLocationsForFavorites.length > 0">
        <h1 [ngClass]="{'blur': blur}">Favoriten</h1>
        <app-location-list [locations]="mockLocationsForFavorites" [listType]="favoriteType"></app-location-list>
      </ng-container>
      <ng-container *ngIf="locations$ | async as locations">
        <h1 [ngClass]="{'blur': blur}" style="padding-top: 5%">In der Nähe</h1>
        <app-location-list [locations]="locations" [listType]="nearByType"></app-location-list>
      </ng-container>
    </ng-container>

    <ng-template #showSearchResults>
      <h1 [ngClass]="{'blur': blur}">Suchergebnisse</h1>
      <ng-container *ngIf="locations$ | async as locations">
        <app-location-list [locations]="locations" [listType]="searchType"></app-location-list>
      </ng-container>
    </ng-template>
  </div>
</div>
