<div class="location-panel">
  <ng-container *ngIf="hideSearchResults; else showSearchResults">
    <h1>Favoriten</h1>
    <app-location-list [locations]="mockLocationsForFavorites"></app-location-list>
    <h1>In der Nähe</h1>
    <ng-container *ngIf="locations$ | async as locations">
      <app-location-list [locations]="locations"></app-location-list>
    </ng-container>
  </ng-container>

  <ng-template #showSearchResults>
    <h1>Suchergebnisse</h1>
    <ng-container *ngIf="locations$ | async as locations">
      <app-location-list [locations]="locations"></app-location-list>
    </ng-container>
  </ng-template>
</div>