#home-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  border: 14px solid white;
  // border-radius: 14px;
}

#home-wrapper-inner {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: var(--outer-border-radius);
  overflow: hidden;
}
