<div id="burger-menu" (click)="open()">
  <mat-icon>menu</mat-icon>
</div>

<nav [class.open]="open$ | async">
  <div class="top">
    <div class="user-header">
      <p class="greeting">Hallo Gast!</p>
      <p class="email">mockmail@mail.de</p>
    </div>
  </div>
  <div class="space"></div>
  <div class="bottom">
    <div class="section">
      <h3>Social Media</h3>
      <a target="_blank" rel="noreferrer" href="https://www.instagram.com/happyhamsterorg/">
        <div class="img-wrap">
          <img src="assets/icons/social-media/instagram.svg" alt="Instagram" />
        </div>
        Instagram
      </a>
      <a target="_blank" rel="noreferrer" href="https://twitter.com/happyhamsterorg">
        <div class="img-wrap">
          <img src="assets/icons/social-media/twitter.svg" alt="Twitter" />
        </div>
        Twitter
      </a>
      <a target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UCEYDgvcxXbOLIrKXZcC4nCA">
        <div class="img-wrap">
          <img src="assets/icons/social-media/youtube.svg" alt="Youtube" />
        </div>
        YouTube
      </a>
      <a target="_blank" rel="noreferrer" href="https://github.com/SAKPaaS">
        <div class="img-wrap">
          <img src="assets/icons/social-media/github.svg" alt="GitHub" />
        </div>
        GitHub
      </a>
    </div>
    <div class="section">
      <a href="">
        <div class="img-wrap">
          <mat-icon>feedback</mat-icon>
        </div>
        Feedback
      </a>
      <a href="">
        <div class="img-wrap">
          <mat-icon>language</mat-icon>
        </div>
        Sprache wechseln
      </a>
    </div>
  </div>
  <div class="section imprint">
    <a href="">Impressum</a>
    <a href="">Datenschutzerklärung</a>
  </div>
</nav>
<div class="backdrop" [class.open]="open$ | async" (click)="close()">

</div>
