.search-bar-form {
  background-color: rgba(186, 209, 205, 0.3);
  border-radius: 40px;
  padding: 14px 30px 15px 8px;
  display: flex;
  vertical-align: baseline;
}

@media (max-width: 600px) {
  .search-bar-form {
    top: 15px;
    left: 15px;
    right: 15px;
    width: auto;
    max-width: 600px;
  }
}

mat-form-field {
  width: 100%;
}

.option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  .text {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 10px;
  }

  .occupancy-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

::ng-deep app-occupancy-view {
  display: inline-flex;
}

.category-selector-wrapper {
  width: 150px;
  background: white;
  border-radius: 40px;
  margin-right: 8px;
  padding: 10px 10px 12px 14px;
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.custom-select::-ms-expand {
  display: none;
}

.custom-select:focus::-ms-value {
  background-color: transparent;
}

.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.mat-form-field-remove-padding {
  margin-bottom: -1.34375em;
}

.mat-form-field-select {
  margin-top: -0.8em;
}

.search-icon {
  transform: translate(0px, 3px);
}
