<ng-container>
  <div class="card" (click)="toggle()">
    <app-occupancy-view [isSearchBar]="false" [occupancy]="location.occupancy"></app-occupancy-view>
    <div class="row">
      <p class="mat-title">{{ location.name }}</p>
      <span>
        <div class="distance">
          {{ getDistanceString() }}
        </div>
        <span (click)="toggleFavorite()" class="material-icons">
          {{ favorite ? 'star' : 'star_border' }}
        </span>
      </span>
    </div>
    <p class="mat-card-subtitle">{{ location.address | address }}</p>
    <div [ngClass]="{'hide': hide}">
      <button mat-raised-button class="submit" (click)="checkIn(location)">
        {{ 'location-details.button' | translate }}
      </button>
    </div>
  </div>
</ng-container>
