.map {
    width: 100%;
    height: 100vh;
}

.loading-wrapper {
    position: fixed;
    background-color: transparent;
    top: 50px;
    right: 25px;
    z-index: 2;
}

@media (max-width: 910px) {
    .loading-wrapper {
        top: auto;
        bottom: 70px;
    }
}

.loading-wrapper span {
    margin-top: 10px;
}
