#map {
  width: 100%;
  height: calc(35vh + 20px);
  border-radius: 0 0 var(--outer-border-radius) var(--outer-border-radius);
  overflow: hidden;
  position: relative;
}

.loading-wrapper {
  position: fixed;
  background-color: transparent;
  top: 0;
  width: 100%;
  z-index: 2;
}

.full {
  height: 95vh;
}

@media only screen and (max-width: 600px) {
  #map {
    padding-bottom: 50px;
    height: calc(30vh + 50px);
  }
}
