$container-height: 100px;
$container-width: $container-height * 0.8;

.logo-container {
  z-index: 5;
  position: absolute;
}

@media (max-width: 600px) {
  .logo-container {
    display: none;
  }
}

.logo-container img {
  align-self: center;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  height: auto;
}

.background-rect {
  display: flex;
  width: $container-width;
  height: $container-height;
  background: #ffffff;
  border-radius: 0 0 var(--outer-border-radius) 0;
}

.corner {
  position: absolute;
  z-index: 3;
  width: var(--outer-border-radius);
  height: var(--outer-border-radius);
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent 0,
    transparent var(--outer-border-radius),
    white var(--outer-border-radius)
  );
  &.upper-right {
    left: $container-width;
    top: 0;
  }
  &.bottom-left {
    top: $container-height;
  }
}
