.logo-container {
    z-index: 3;
    position: absolute;
    width: 129px;
    height: 107px;
    top: 14px;
    left: -20px;
}


@media (max-width: 600px) {
    .logo-container {
        display: none;
    }
}

.logo-container img {
    position: absolute;
    width: 57px;
    height: 80px;
    left: 46px;
    top: 7px;    
    
}
.background-rect{
    z-index: -1;
    position: fixed;
    width: 117px;
    height: 95px;
    left: -20px;
    top: 14px;
    background: #FFFFFF;
    border-radius: 0px 0px 12px 5px;
}

.corner-upper-right{
    left: 117px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    background-image: radial-gradient(circle at 100% 100%, transparent 0, transparent 12px, white 12px);
}

.corner-bottom-left{
    left:20px;
    top:95px;
    position: absolute;
    z-index: 3;
    width: 12px;
    height: 12px;
    background-image: radial-gradient(circle at 100% 100%, transparent 0, transparent 12px, white 12px);
}