.footer {
    display: flex;
    flex-direction: row;;
    padding: 10px;
    position: absolute;
    bottom: 5px;
    left: 5px;
    flex-wrap: wrap;
    z-index: 2;
}

.footer * {
    text-decoration: none;
    margin-right: 15px;
    color: #505050;
}

.footer img {
    height: 20px;
}

.line-break {
    width: 100%;
    display: none;
}

@media (max-width: 600px) {
    .line-break {
        display: block;
        margin-bottom: 10px;
    }
    
    
}