<div class="footer">
  <a
    target="_blank"
    rel="noreferrer"
    href="https://www.instagram.com/happyhamsterorg/"
  >
    <img src="assets/icons/social-media/instagram.svg" alt="Instagram" />
  </a>
  <a
    target="_blank"
    rel="noreferrer"
    href="https://twitter.com/happyhamsterorg"
  >
    <img src="assets/icons/social-media/twitter.svg" alt="Twitter" />
  </a>
  <a target="_blank" rel="noreferrer" href="https://github.com/SAKPaaS">
    <img src="assets/icons/social-media/github.svg" alt="GitHub" />
  </a>
  <a
    target="_blank"
    rel="noreferrer"
    href="https://www.youtube.com/channel/UCEYDgvcxXbOLIrKXZcC4nCA"
  >
    <img src="assets/icons/social-media/youtube.svg" alt="Youtube" />
  </a>
  <a
    title="{{ 'footer.title.feedback' | translate }}"
    target="_blank"
    rel="noreferrer"
    href="https://docs.google.com/forms/d/e/1FAIpQLSekXXSN--ehheZoMnMj9oE3tzCdS0C8oQ0lg8Lpl8RxNRIPEA/viewform"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="black"
      width="18px"
      height="18px"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H5.17l-.59.59-.58.58V4h16v12zm-9-4h2v2h-2zm0-6h2v4h-2z"
      />
    </svg>
  </a>
  <a [routerLink]="" (click)="toggleLanguage()">
    {{ selectedLanguage === "de" ? "EN" : "DE" }}
  </a>
  <div class="line-break"></div>
  <a href="https://welcome.happyhamster.org/">{{
    "footer.help" | translate
  }}</a>
  <a href="" routerLink="/legal">{{ "footer.legal" | translate }}</a>
</div>
