.low {
  background-color: var(--greenblue);

}

.medium {
  background-color: var(--grey-blue);
}

.high {
  background-color: var(--grapefruit);
}

.noData {
  color: black;
  background-color: var(--secondary-grey-blue);
}

.occupancy-count {
  color: var(--greenish-grey);
}

.holder {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 0 0 10px white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    padding: 0.5rem;
    display: inline-flex;
    margin-bottom: 0;
  }
}

.mobile {
  display: inline-flex !important;
}

.desktop {
  display: none !important;
}

@media (min-width: 601px) {
  .mobile {
    display: none !important;
  }

  .desktop {
    display: inline-flex !important;
  }
}
