<ng-container *ngIf="isSearchBar; else isNoSearchBar">
  <div *ngIf="occupancy.value !== null">
    <img [src]="iconPath" [attr.alt]="getText()" />
  </div>
</ng-container>

<ng-template #isNoSearchBar>
  <div class="holder {{ styleClass }}">
    <div *ngIf="getStyleClass() !== 'noData'">
      <img [src]="iconPath" alt="{{ 'image-alt.occupancy' | translate }}"/>
    </div>
    <div >
    <span *ngIf="text == 'nodata'">
      {{ 'occupancy.no-data' | translate }}
    </span>
    <span *ngIf="text == 'low'">
      {{ 'occupancy.low.text' | translate }}
    </span>
    <span *ngIf="text == 'medium'">
      {{ 'occupancy.medium.text' | translate }}
    </span>
    <span *ngIf="text == 'high'">
      {{ 'occupancy.high.text' | translate }}
    </span>
    </div>
  </div>
</ng-template>
